@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&family=Open+Sans:wght@400;600;700&display=swap");

html {
  box-sizing: inherit;
  height: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $veryLightGray !important;
  font-family: "nunito", "sans-serif" !important;
}

#root {
  height: 100%;
}

.appComp {
  height: 100%;
}

.dark_mode {
  color: $white !important;
  background-color: $darkBlue !important;
  border-bottom: 3px solid $darkBlue !important;
  box-shadow: 0px 2px 0px $darkBlue !important;
}

.dark_mode_input {
  color: $white;
  background-color: $darkBlue !important;
  box-shadow: none !important;

  input {
    &::placeholder {
      color: $white;
    }
    color: $white;
    background-color: $darkBlue !important;
  }
}

.very_dark_mode {
  color: $white;
  background-color: $veryDarkBlue !important;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.flex {
  display: flex;

  &__jc-sb {
    justify-content: space-between;
  }

  &__jc-c {
    justify-content: center;
  }

  &__fd-c {
    flex-direction: column;
  }

  &__ai-fs {
    align-items: flex-start;
  }

  &__fd-r {
    flex-direction: row;
  }

  &__ai-c {
    align-items: center;
  }

  &__ai-fs {
    align-items: flex-start;
  }

  &__jc-sa {
    justify-content: space-around;
  }

  &__jc-s {
    justify-content: start;
  }
}
